<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>829136940579-b3j5gjk426mvoat40ubchqb0k5pjoqfv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.829136940579-b3j5gjk426mvoat40ubchqb0k5pjoqfv</string>
	<key>API_KEY</key>
	<string>AIzaSyAUE5FFZpUNsnTMzCDMV2PH_I9x0EnGiVQ</string>
	<key>GCM_SENDER_ID</key>
	<string>829136940579</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myapplication</string>
	<key>PROJECT_ID</key>
	<string>myapp-6f91b</string>
	<key>STORAGE_BUCKET</key>
	<string>myapp-6f91b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:829136940579:ios:c82ceb7e4af98129f58b96</string>
</dict>
</plist>